[
  {% for bucket in filtered_buckets %}
  {
    "targets": ["localhost:9201"],
    "labels": {
      "job": "s3_monitor",
      "resource_name": "{{ bucket.name }}",
      "project": "{{ bucket.tags.project }}"
    }
  }{{ "," if not loop.last else "" }}
  {% endfor %}
]