[
  {% for bucket in s3_info.buckets %}
  {
    "targets": ["localhost:8000"],
    "labels": {
      "job": "custom_python_exporters",
      "resource_type": "s3",
      "resource_name": "{{ bucket.name }}",
      "project": "monitoring-system"
    }
  }{{ "," if not loop.last else "" }}
  {% endfor %}
]