# Points to the folder so Ansible reads aws_ec2.yml automatically
[defaults]
inventory = inventory/aws_ec2.yml
roles_path = ./roles
remote_user = ubuntu
host_key_checking = False 
interpreter_python = auto_silent

# This prevents the manual "yes/no" prompt in GitHub Actions

private_key_file = ~/.ssh/id_rsa 
#  Tells Ansible to use the temporary key we generate in the workflow


ssh_args = -o ControlMaster=auto -o ControlTimeout=60s 
# Use the SSH agent provided by the GitHub Action

[inventory]
# This is required to let Ansible know it's allowed to use the AWS plugin
enable_plugins = amazon.aws.aws_ec2